DBs/CC/Schema/copy.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
		   xmlns:xdb="http://xmlns.oracle.com/xdb"
		   xdb:storeVarrayAsTable="true"
		   version="1.0">

    <xs:element name="copy" type="copy_type" xdb:defaultTable="COPIES"/>

    <xs:complexType name="copy_type" xdb:SQLType="COPY_TYPE">
    	<xs:sequence>
    		<xs:element name="movie" type="xs:integer" xdb:SQLName="ID_MOVIE" xdb:SQLType="NUMBER"/>
    		<xs:element name="num" type="xs:integer" xdb:SQLName="NUM" xdb:SQLType="NUMBER"/>
    	</xs:sequence>
    </xs:complexType>

</xs:schema>